<h3>Welcome {{name}}</h3>

{{#condition success.length ">" 0}}

<div class="materialert success">
    <div class="material-icons"><i class="fa fa-check"></i></div>
    <span>{{success}}</span>
    <button type="button" class="close-alert">×</button>
</div>

{{/condition}}


{{#if stories}}
<div class="row">
    {{#each stories}}
    <div class="col s12 m3">
        <div class="card sticky-action">

            <div class="card-image waves-effect waves-block waves-light">
                <a class="highlighted" href="/stories/{{_id}}">
                    <img class="dashboard-img" src="{{image}}" alt="story-image">
                </a>

            </div>



            <div class="card-content center-align">
                <span class="card-title activator grey-text text-darken-4"><a class="highlighted"
                        href="/stories/{{_id}}"><strong>{{title}}</strong></a><i
                        class="material-icons right">more_vert</i></span>

                <p>{{formatDate createdAt "MMMM Do YYYY, h:mm:ss a"}}</p>
                <br>
                <span class="chip">{{status}}

                </span>
            </div>


            <div class="card-action">

                <a href="/stories/edit/{{_id}}" class="btn-float btn indigo lighten-1">
                    <i class="fas fa-edit"></i>
                </a>

                <form action="/stories/{{_id}}" method="POST" id="delete-form">
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit" class="btn-float btn blue-grey lighten-2">
                        <i class="fas fa-trash"></i>
                    </button>
                </form>


            </div>


            <div class="card-reveal post-body">
                <span class="card-title grey-text text-darken-4"><a class="highlighted"
                        href="/stories/{{_id}}"><strong>{{title}}</strong></a>
                    <i class="material-icons right">close</i>

                </span>
                <p>{{stripTags (truncate body 150)}} </p>

            </div>

        </div>

    </div>
    {{/each}}
</div>
{{else}}
<p>You have not created any stories</p>
{{/if}}