<div class="row">

    <div class="col s12 m9 login-container" id="login">

        <a href="#stories"><img width="100" height="100" src="/assets/logo.png" alt="logo-img"
                class="responsive-img logo-img"></a>

        <h3><a href="#stories" class="login-title"> Welcome to juniHUB</a></h3>

        <div class="section quote-area">

            <h4><i class="fas fa-quote-left"></i>&nbsp;{{quote}}</h4>
            <h6>-{{author}}</h6>

            <p class="lead"><em>People have their own story, what about you?</em></p>

        </div>

        <div class="section login-area">
            <div class="card-action">
                <a href="/auth/google" class="btn">
                    <i class="fab fa-google left"></i>LOG IN WITH GOOGLE </a>
            </div>
        </div>

    </div>

    <div class="col s12 m3 weather-container" id="weather">

        <div class="section weather-area">

            <form class="city-input" action="/" method="post">
                <input type="text" name="cityName" autocomplete="off" class="search-box"
                    placeholder="Search for a city">
                <button type="submit" class="btn weather-btn">
                    <i class="fas fa-umbrella"></i>&nbsp;weather now
                </button>
            </form>

            <div class="weather-display">

                <div class="weather">

                    <p>
                        {{weather}}
                    </p>

                    {{#if error}}
                    <p>
                        {{ error }}
                    </p>
                    {{/if}}

                </div>

                <div class="date">

                    <p class="chip today-date">{{formatDate today "MMMM Do YYYY"}}</p>

                </div>


                <div class="temp">
                    <div>

                        <img height="60px" width="60px" src="{{icon}}" />

                    </div>

                    <div>

                        {{temp}}

                        <span>°C</span>
                        /

                        {{tempF}}

                        <span>°F</span>

                    </div>

                </div>

            </div>
        </div>

    </div>


</div>

<div id="stories">
    <h1>Latest Stories</h1>
    {{#if stories}}
    <div class="row">
        {{#each stories}}
        <div class="col s12 m4 moreBox">
            <div class="card sticky-action">

                <div class="card-image img-hover-zoom img-hover-zoom--quick-zoom">
                    <a class="highlighted" href="/auth/google" target="_blank" rel="noopener noreferrer">
                        <img class="dashboard-img" src="{{image}}" alt="story-image">
                    </a>

                </div>

                <div class="card-content center-align card-content-login">
                    <span class="card-title activator grey-text text-darken-4"><a class="highlighted"
                            href="/auth/google" target="_blank"
                            rel="noopener noreferrer"><strong>{{title}}</strong></a><i
                            class="material-icons right">more_vert</i></span>
                    <span class="chip">#{{tags}}</span>

                    <p>{{formatDate createdAt "MMMM Do YYYY"}}</p>
                    <br>

                </div>


                <div class="card-action center-align">

                    <a href="/auth/google" class="btn login-btn">
                        <i class="fas fa-user-lock left"></i>Login to View More </a>


                </div>


                <div class="card-reveal post-body">
                    <span class="card-title grey-text text-darken-4"><a class="highlighted"
                            href="/auth/google"><strong>{{title}}</strong></a>
                        <i class="material-icons right">close</i>

                    </span>
                    <p>{{stripTags (truncate body 800)}} </p>

                </div>

            </div>

        </div>



        {{/each}}

    </div>
    {{else}}
    <p>You have not created any stories</p>
    {{/if}}


    <div id="loadMore" class="loadMore">
        <a href="#" class="btn custom-btn">Load More</a>
    </div>


</div>