<i class="material-icons left">border_color</i>
<h4>Edit Your Story</h4>
<div class="row">

    <form action="/stories/{{story._id}}" method="POST" class="col s12">
        <input type="hidden" name="_method" value="PUT">
        <div class="row">
            <div class="input-field">
                <input type="text" id="title" name="title" value="{{story.title}}" class="validate" required>
                <label class="title-label" for="title">Title</label>
            </div>

        </div>

        <div class="row">

            <div class="input-field">
                <input type="text" id="tags" name="tags" value="{{story.tags}}" class="validate" required>
                <label class="title-label" for="tags">Tags (coma separated)</label>
            </div>

        </div>


        <div class="row">
            <div class="input-field">
                <select class="browser-default" id="status" name="status">
                    {{#select story.status}}
                    <option value="" disabled selected>Choose your status</option>
                    <option value="public" selected>Public</option>
                    <option value="private">Private</option>
                    {{/select}}
                </select>

            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <h5>Your Story:</h5>
                <textarea id="body" name="body">{{story.body}}</textarea>
            </div>

        </div>
        <div class="row">
            <img src="{{story.image}}" class="responsive-img img-small" alt="image">

        </div>

        <div class="row">
            <button type="submit" name="action" class="btn">Save<i class="material-icons right">send</i></button>
            <a href="/dashboard" class="btn custom-btn">Cancel<i class="material-icons right">close</i></a>
        </div>
    </form>
</div>