<div id="dashboard-stories" class="dashboard-href">
    <a class="dashboard-btn" href="/dashboard">Back to Dashboard</a>
</div>

<div id="search-stories">

    <div class="row">

        <a href="https://www.algolia.com/" target="_blank" content="nofollow" rel="noreferrer noopener"><img
                src="/assets/search-by-algolia.svg">
        </a>

        <form class="search-form">
            <div class="input-field">
                <input id="search-box" type="search" name="stories" placeholder="search for title here" required>
                <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                <i class="material-icons close-icon">close</i>
            </div>
        </form>

        <div class="row">

            <h3>#Tags</h3>

            <div id=facet-list></div>

        </div>

        <div class="row">

            <h3>⭐Titles</h3>

            <ul id=container class='collection'></ul>

        </div>

    </div>

</div>

<div class="row">
    <h1>All Latest Public/Published Stories</h1>

    {{#each stories}}
    <div class="col s12 m3">
        <div class="card">
            <div class="card-image">
                {{{editIcon user ../user _id}}}
            </div>
            <div class="card-content center-align index-stories-body">
                <h5>{{title}}</h5>
                <span class="chip">#{{tags}}</span>
                <br>
                <div class="chip">
                    <img src="{{user.image}}" alt="user-image">
                    <a href="/stories/user/{{user._id}}">{{user.displayName}}</a>
                </div>
            </div>
            <div class="card-action center-align">
                <a href="/stories/{{_id}}" class="btn">Read More</a>
            </div>
        </div>
    </div>
    {{else}}
    <p>No stories to display</p>
    {{/each}}
</div>




<footer>
    <button id="scrollToTopBtn"><i class="material-icons">arrow_drop_up</i></button>
</footer>