<div id="dashboard-stories" class="dashboard-href">
    <a class="btn" href="/dashboard"><i class="fas fa-arrow-left"></i> Back to Dashboard</a>
</div>

<h5>Manage Your Private Stories Here</h5>


{{#if stories}}
<div class="row">
    {{#each stories}}
    {{#condition status "==" "private"}}
    <div class="col s12 m4">
        <div class="card sticky-action">

            <div class="card-image img-hover-zoom img-hover-zoom--quick-zoom">
                <a class="highlighted" href="/stories/{{_id}}" target="_blank" rel="noopener noreferrer">
                    <img class="dashboard-img" src="{{image}}" alt="story-image">
                </a>

            </div>



            <div class="card-content card-content-dashboard center-align">
                <span class="card-title activator grey-text text-darken-4"><a class="highlighted"
                        href="/stories/{{_id}}" target="_blank"
                        rel="noopener noreferrer"><strong class="lead">{{title}}</strong></a><i
                        class="material-icons right">more_vert</i></span>

                </span>

                <span class="chip">#{{tags}}</span>

                <p>{{formatDate createdAt "MMMM Do YYYY"}}</p>
                <br>
                </div>


            <div class="card-action card-action-dashboard">

                <a href="/stories/edit/{{_id}}" class="btn-float btn dark-blue">
                    <i class="fas fa-edit "></i>
                </a>

                <form action="/stories/{{_id}}" method="POST" id="delete-form">
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit" class="custom-btn btn-float btn">
                        <i class="fas fa-trash"></i>
                    </button>
                </form>


            </div>


            <div class="card-reveal post-body">
                <span class="card-title grey-text text-darken-4"><a class="highlighted" href="/stories/{{_id}}"
                        target="_blank" rel="noopener noreferrer"><strong>{{title}}</strong></a>
                    <i class="material-icons right">close</i>

                </span>
                <p>{{stripTags (truncate body 150)}} </p>

            </div>

        </div>

    </div>
    {{/condition}}
    {{/each}}
</div>
{{else}}
<p>You have not created any stories</p>
{{/if}}

<footer>
    <button id="scrollToTopBtn"><i class="fas fa-arrow-up"></i></button>
</footer>