<div id="dashboard-stories" class="dashboard-href">
    <a class="dashboard-btn" href="/dashboard">Back to Dashboard</a>
</div>

<div class="row">
    <div class="col s12 m11">
        <h3>{{story.title}}
            <small>{{{editIcon story.user user story._id false}}}</small>
        </h3>
        <span class="chip custom-btn">#{{story.tags}}

    </div>
    <div class="col s12 m1">
        <div class='profile-section'>

            <img src="{{story.user.image}}" width="80" height="80" class="responsive-img">
            <a class="user-name" href="/stories/user/{{story.user._id}}"><strong>More From
                    {{story.user.firstName}}</strong></a>

        </div>
    </div>
</div>

<div class="print-btn">
    <button class="btn tooltipped" data-position="top" data-tooltip="PRINT THIS PAGE" onClick="window.print()">
        <i class="material-icons">local_printshop</i>
    </button>

</div>


<div class="card-title">

    <span>Posted by <strong>{{story.user.displayName}}</strong></span>
    <span>on {{formatDate story.createdAt "MMMM Do YYYY, h:mm:ss a"}}</span>

</div>

<div class="card show-card">

    <div class="card story">
        <div class="card-content post-img">
            <img src="{{story.image}}" class="responsive-img medium-img" alt="post-image">
        </div>

        <div class="card-content post-body">
            <h4 class="story-title-show">{{story.title}}</h4>
            <p> {{{story.body}}}</p>
        </div>

    </div>

    <div class="card-action-show-page">

        <div class="social-btn">

            <div class="fb-comments" data-href="https://juni-storybook.herokuapp.com/stories/{{story._id}}"
                data-width="" data-numposts="5">
            </div>

        </div>

        <div class="social-btn">

            <div class="fb-like" data-href="https://juni-storybook.herokuapp.com/stories/{{story._id}}" data-width=""
                data-layout="standard" data-action="like" data-size="small" data-share="true">
            </div>

        </div>

    </div>
</div>